@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
	--bg-clr: #475569;
	--white-clr: #fff;
	--todo-list-bg-clr: #f1f5f9;
	--todo-list-clr: #334155;
	--todo-form-btn-clr: #0891b2;
	--todo-form-hover-btn-clr: #0e7490;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	background-color: var(--bg-clr);
	color: var(--white-clr);
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
}

.flex-wrapper {
	display: flex;
}

.App {
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.todo-wrapper {
	height: 50rem;
	overflow: auto;
}
.app-heading {
	font-size: 2.5rem;
}
